* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'M PLUS 1p', sans-serif;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  vertical-align: top;
}
button,
input {
  outline: none;
  cursor: pointer;
}
#overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#overlay.active {
  display: block;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}
.none {
  display: none;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 467px) {
  .container {
    max-width: 467px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.logo {
  position: relative;
  font-size: 42px;
  font-weight: 900;
  z-index: 1;
}
@media (min-width: 768px) {
  .logo {
    margin-left: 18px;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-left: 0;
  }
}
.logo::after {
  position: absolute;
  content: "";
  bottom: 11px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #fbdc4d;
  z-index: -1;
}
.toggle-menu {
  padding-right: 20px;
  position: relative;
  cursor: pointer;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
@media (min-width: 768px) {
  .toggle-menu {
    padding-right: 33px;
  }
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
    padding-right: 0px;
  }
}
.toggle-menu.active {
  z-index: 10;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}
.toggle-menu.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0px;
}
.toggle-menu span {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background-color: black;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: black;
  left: 0px;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1024px) {
  .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 768px) {
  .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.row-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.yellow-button {
  display: inline-block;
  padding: 15px 42px 17px;
  font-family: "Mplus 1p";
  font-size: 22px;
  font-weight: 700;
  border-radius: 31px;
  background-color: #fbdc4d;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.yellow-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 31px;
  -webkit-box-shadow: 0 20px 20px -5px rgba(251, 219, 77, 0.4);
          box-shadow: 0 20px 20px -5px rgba(251, 219, 77, 0.4);
  z-index: 1;
}
.button {
  padding: 11px 37px 11px;
  color: #464646;
  font-family: "Mplus 1p";
  font-size: 22px;
  font-weight: 700;
  border-radius: 32px;
  border: 4px solid #464646;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 31px;
  -webkit-box-shadow: 0px 20px 15px -10px rgba(70, 70, 70, 0.3);
          box-shadow: 0px 20px 15px -10px rgba(70, 70, 70, 0.3);
  z-index: 1;
}
.header {
  padding: 25px 0px 95px;
  max-width: 1600px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding: 25px 0px 80px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 70px 0px 235px;
    background-image: url("../img/bg/line.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
}
.header_top-menu {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1430px) {
  .header_top-menu {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  max-width: 400px;
  width: 100%;
  padding-top: 80px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-nav {
    position: relative;
    max-width: unset;
    display: block;
    padding-top: 0px;
    padding-left: 0px;
    width: auto;
    margin-bottom: 0px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.header-nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 10;
}
.header-nav a {
  position: relative;
  font-size: 20px;
  z-index: 1;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .header-nav a {
    margin-right: 75px;
    margin-bottom: 0px;
  }
}
.header-nav a:after {
  position: absolute;
  content: "";
  bottom: 3px;
  left: -5px;
  width: 0px;
  height: 5px;
  background-color: #fbdc4d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.header-nav a:hover:after {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 113%;
}
.header-nav a:last-child {
  margin-right: 0px;
}
.header-icons {
  display: none;
}
@media (min-width: 1200px) {
  .header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 34px;
  }
}
.header-icons a {
  margin-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.header-icons a:last-child {
  margin-right: 0px;
}
.header-icons a::after {
  position: absolute;
  content: "";
  top: 5px;
  bottom: 0px;
  left: -3px;
  right: 6px;
  background-color: #fbdc4d;
  z-index: -1;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-icons a:hover:after {
  width: 120%;
  border-radius: 50%;
}
.header-icons a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header_content {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .header_content {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .header_content {
    margin-top: 151px;
  }
}
.person-info {
  margin-top: 66px;
}
@media (min-width: 768px) {
  .person-info {
    margin-top: 0;
    width: 50%;
  }
}
.person-info p {
  margin-top: 18px;
  color: #393f47;
  font-size: 18px;
  font-weight: 400;
  max-width: 280px;
  line-height: 1.7;
}
@media (min-width: 768px) {
  .person-info p {
    margin-top: 20px;
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .person-info p {
    margin-top: 29px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }
}
.name {
  position: relative;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 800;
  z-index: 1;
}
@media (min-width: 768px) {
  .name {
    font-size: 52px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .name {
    font-size: 90px;
    line-height: 1.1;
  }
}
.name::after {
  position: absolute;
  content: "";
  bottom: 8px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
}
@media (min-width: 768px) {
  .name::after {
    bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .name::after {
    bottom: 23px;
    left: -5px;
    right: -5px;
    height: 12px;
  }
}
.header-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
  }
  .header-buttons a {
    margin-right: 20px;
  }
}
.person-foto {
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
  -webkit-transform: scaleY(1.13);
          transform: scaleY(1.13);
  padding-top: 9px;
  max-width: 330px;
  max-height: 330px;
}
@media (min-width: 768px) {
  .person-foto {
    position: relative;
    padding-top: 0px;
    padding-left: 37px;
    width: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: unset;
  }
}
@media (min-width: 1200px) {
  .person-foto {
    padding-top: 24px;
    padding-left: 100px;
    max-width: unset;
    max-height: unset;
  }
}
@media (min-width: 768px) {
  .person-foto::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 80px;
    background-color: rgba(244, 248, 249, 0.5);
    z-index: -1;
    width: 320px;
    height: 320px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (min-width: 1200px) {
  .person-foto::after {
    top: 150px;
    left: 150px;
    width: 474px;
    height: 410px;
  }
}
.header_img-bg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  -webkit-transform: scale(1.77);
          transform: scale(1.77);
}
@media (min-width: 425px) {
  .header_img-bg {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header_img-bg {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header_img-bg {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: -27px;
  }
}
@media (min-width: 1200px) {
  .header_img-bg {
    margin-top: -132px;
  }
}
.skills {
  font-size: 18px;
  font-weight: 300;
  margin-top: 79px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .skills {
    max-width: 320px;
    margin-top: 12px;
    margin-right: 48px;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .skills {
    margin-right: 204px;
    margin-top: -14px;
    font-size: 24px;
    line-height: 1.6;
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .skills k {
    display: none;
  }
}
.skills span {
  display: none;
}
@media (min-width: 1200px) {
  .skills span {
    display: unset;
  }
}
.skills w {
  display: none;
}
@media (min-width: 1200px) {
  .skills w {
    display: unset;
  }
}
.skills h3 {
  font-size: 29px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .skills h3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .skills h3 {
    font-size: 40px;
  }
}
.skills ul {
  margin-top: 31px;
}
@media (min-width: 1200px) {
  .skills ul {
    margin-top: 32px;
  }
}
.skills li {
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .skills li {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .skills li {
    margin-bottom: 0;
  }
}
.skills li:last-child {
  margin-bottom: 0;
  margin-top: 39px;
}
@media (min-width: 768px) {
  .skills li:last-child {
    margin-top: 0;
  }
}
.skills-button {
  display: none;
}
@media (min-width: 1200px) {
  .skills-button {
    display: block;
    margin-top: 50px;
  }
}
.contact-icons {
  margin-top: 43px;
}
@media (min-width: 768px) {
  .contact-icons {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .contact-icons {
    margin-top: -14px;
  }
}
.contact-icons h3 {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .contact-icons h3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .contact-icons h3 {
    font-size: 40px;
  }
}
.header-email {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid  black;
}
@media (min-width: 1200px) {
  .header-email {
    font-size: 24px;
  }
}
.social-icons {
  margin-top: 5px;
  margin-bottom: -9px;
  font-size: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .social-icons {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .social-icons {
    margin-top: 20px;
  }
}
.social-icons li {
  margin-right: 27px;
  margin-left: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .social-icons li {
    margin-right: 29px;
  }
}
.social-icons li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.social-icons li:last-child {
  margin-right: 0px;
}
.social-icons .fa-github {
  font-size: 58px;
}
.social-icons .fa-telegram {
  color: #039be5;
}
.social-icons .fa-vk {
  padding: 10px 9px;
  margin-bottom: 22px;
  font-size: 30px;
  color: white;
  background-color: #4d76a1;
  border-radius: 50%;
}
.social-icons .fa-facebook {
  padding: 12px 18px 10px 18px;
  margin-bottom: 22px;
  font-size: 30px;
  color: white;
  background-color: #3b5998;
  border-radius: 50%;
}
.section_portfolio {
  padding: 110px 0 120px;
  background-color: #f4f8f9;
}
.portfolio-works {
  max-width: ;
  width: 556px;
}
/*# sourceMappingURL=main.css.map */