* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Mplus 1p", sans-serif;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  font-family: "Mplus 1p", sans-serif;
  cursor: pointer;
  color: black;
  outline: none;
}
a::-moz-selection {
  background-color: #e7f5dc;
}
a::selection {
  background-color: #e7f5dc;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li::-moz-selection,
k::-moz-selection,
w::-moz-selection {
  background-color: #e7f5dc;
}
li::selection,
k::selection,
w::selection {
  background-color: #e7f5dc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection {
  background-color: #e7f5dc;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background-color: #e7f5dc;
}
span::-moz-selection {
  background-color: #e7f5dc;
}
span::selection {
  background-color: #e7f5dc;
}
img {
  max-width: 100%;
  vertical-align: top;
  overflow: hidden;
}
button,
input {
  outline: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
#overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#overlay.active {
  display: block;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}
.none {
  display: none;
}
.nonscroll {
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 420px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1140px;
  }
}
.logo {
  position: relative;
  display: block;
  font-size: 42px;
  font-weight: 900;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .logo {
    margin-left: 18px;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-left: 0;
  }
}
.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.logo::after {
  position: absolute;
  content: "";
  bottom: 11px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #94d6ba;
  z-index: -1;
}
.center {
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1024px) {
  .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.row-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .row-reverse {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 768px) {
  .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1000px) {
  .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.yellow-button {
  display: inline-block;
  padding: 15px 42px 17px;
  font-family: "Mplus 1p";
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 31px;
  background-color: #94d6ba;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.yellow-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 31px;
  -webkit-box-shadow: 0 20px 20px -5px rgba(148, 214, 186, 0.6);
          box-shadow: 0 20px 20px -5px rgba(148, 214, 186, 0.6);
  z-index: 1;
}
.button {
  padding: 11px 37px 11px;
  color: #464646;
  font-family: "Mplus 1p";
  font-size: 22px;
  font-weight: 700;
  border-radius: 32px;
  border: 4px solid #94d6ba;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 31px;
  -webkit-box-shadow: 0 20px 20px -5px rgba(148, 214, 186, 0.6);
          box-shadow: 0 20px 20px -5px rgba(148, 214, 186, 0.6);
  z-index: 1;
}
.button:focus {
  background-color: rgba(91, 157, 52, 0.521);
  border: 4px solid transparent;
}
.section-title {
  position: relative;
  font-size: 42px;
  font-weight: 800;
  z-index: 1;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 64px;
  }
}
.section-title::after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #94d6ba;
  z-index: -1;
}
@media (min-width: 768px) {
  .section-title::after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .section-title::after {
    bottom: 15px;
  }
}
.link {
  font-size: 20px;
  font-weight: 400;
  margin-top: 36px;
}
.link a {
  color: #039be5;
}
.link span {
  display: inline-block;
  border-bottom: 1px solid #039be5;
}
@media (min-width: 768px) {
  .link {
    margin-top: 31px;
  }
}
@media (min-width: 1200px) {
  .link {
    display: none;
  }
}
.title-little {
  position: relative;
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-little {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-little {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .title-little::after {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 0px;
    right: 0px;
    height: 0px;
    background-color: #94d6ba;
    z-index: -1;
  }
}
.title-little:hover:after {
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 7px;
  color: #4b6154;
}
.header {
  padding: 25px 0px 95px;
  max-width: 1600px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header {
    padding: 25px 0px 80px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 70px 0px 235px;
    background-image: url("../img/bg/line.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
}
.header_top-menu {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1430px) {
  .header_top-menu {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header-icons {
  display: none;
}
@media (min-width: 1200px) {
  .header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 34px;
  }
}
.header-icons a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.header-icons a:last-child {
  margin-right: 0px;
}
.header-icons a::after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  width: 0%;
  border-radius: 50%;
  background-color: rgba(148, 214, 186, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-icons a:hover:after {
  width: 100%;
  border-radius: 50%;
}
.header-icons a:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.header_content {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .header_content {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .header_content {
    margin-top: 151px;
  }
}
.person-info {
  margin-top: 66px;
  z-index: 1;
}
@media (min-width: 768px) {
  .person-info {
    margin-top: 0;
    width: 50%;
  }
}
.person-info p {
  margin-top: 18px;
  color: #393f47;
  font-size: 18px;
  font-weight: 400;
  max-width: 280px;
  line-height: 1.7;
}
@media (min-width: 768px) {
  .person-info p {
    margin-top: 20px;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .person-info p {
    margin-top: 29px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    max-width: unset;
  }
}
.name {
  position: relative;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 800;
  z-index: 1;
}
@media (min-width: 768px) {
  .name {
    font-size: 52px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .name {
    font-size: 90px;
    line-height: 1.1;
  }
}
.name::after {
  position: absolute;
  content: "";
  bottom: 8px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #94d6ba;
  z-index: -1;
}
@media (min-width: 768px) {
  .name::after {
    bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .name::after {
    bottom: 23px;
    left: -5px;
    right: -5px;
    height: 12px;
  }
}
.header-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
  }
  .header-buttons a {
    margin-right: 20px;
  }
  .header-buttons a:last-child {
    margin-right: 0;
  }
}
.person-foto {
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
  -webkit-transform: scaleY(1.13);
          transform: scaleY(1.13);
  margin-top: 9px;
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .person-foto {
    max-width: 330px;
    max-height: 330px;
    position: relative;
    margin-top: 0px;
    width: 48%;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: unset;
  }
}
@media (min-width: 1200px) {
  .person-foto {
    padding-left: 0;
    max-width: 460px;
    max-height: 460px;
  }
}
.header_img-bg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  -webkit-transform: scale(1.77);
          transform: scale(1.77);
}
@media (min-width: 425px) {
  .header_img-bg {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header_img-bg {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header_img-bg {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: -27px;
  }
}
@media (min-width: 1200px) {
  .header_img-bg {
    margin-top: -132px;
  }
}
.skills {
  font-size: 18px;
  font-weight: 300;
  margin-top: 79px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .skills {
    max-width: 320px;
    margin-top: 6px;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .skills {
    margin-top: -11px;
    font-size: 24px;
    line-height: 1.6;
    max-width: 640px;
  }
}
@media (min-width: 1200px) {
  .skills k {
    display: none;
  }
}
.skills span {
  display: none;
}
@media (min-width: 1200px) {
  .skills span {
    display: unset;
  }
}
.skills w {
  display: none;
}
@media (min-width: 1200px) {
  .skills w {
    display: unset;
  }
}
.skills h3 {
  font-size: 29px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .skills h3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .skills h3 {
    font-size: 40px;
  }
}
.skills ul {
  margin-top: 31px;
}
@media (min-width: 1200px) {
  .skills ul {
    margin-top: 32px;
  }
}
.skills li {
  position: relative;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .skills li {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .skills li {
    margin-bottom: 0;
    padding-left: 35px;
  }
}
@media (min-width: 1200px) {
  .skills li::before {
    position: absolute;
    content: "\2014";
    top: 0px;
    left: 0px;
  }
}
.skills li:last-child {
  margin-bottom: 0;
  margin-top: 39px;
}
@media (min-width: 768px) {
  .skills li:last-child {
    margin-top: 0;
  }
}
.skills-button {
  display: none;
}
@media (min-width: 1024px) {
  .skills-button {
    display: block;
    margin-top: 37px;
  }
}
@media (min-width: 1200px) {
  .skills-button {
    display: block;
    margin-top: 37px;
  }
}
.contact-icons {
  margin-top: 43px;
  max-width: 330px;
}
@media (min-width: 768px) {
  .contact-icons {
    margin-top: 0px;
    margin-right: 47px;
  }
}
@media (min-width: 1200px) {
  .contact-icons {
    margin-top: -14px;
    margin-right: 63px;
  }
}
.contact-icons h3 {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .contact-icons h3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .contact-icons h3 {
    font-size: 40px;
  }
}
.header-email {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid  black;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
@media (min-width: 1200px) {
  .header-email {
    font-size: 24px;
  }
}
.header-email:hover {
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
.header-email:active {
  color: #ea655f;
  border-bottom: 1px solid #ea655f;
}
.header-email:focus {
  color: #ea655f;
  border-bottom: 1px solid #ea655f;
}
.social-icons {
  margin-top: 5px;
  margin-bottom: -9px;
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .social-icons {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .social-icons {
    margin-top: 20px;
  }
}
.social-icons li {
  margin-right: 27px;
  margin-left: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .social-icons li {
    margin-right: 29px;
  }
}
.social-icons li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.social-icons li:last-child {
  margin-right: 0px;
}
.social-icons .fa-github {
  font-size: 58px;
}
.social-icons .fa-telegram {
  color: #039be5;
  font-size: 50px;
}
.social-icons .fa-vk {
  padding: 10px 9px;
  margin-bottom: 22px;
  font-size: 30px;
  color: white;
  background-color: #4d76a1;
  border-radius: 50%;
}
.social-icons .fa-facebook {
  padding: 12px 18px 10px 18px;
  margin-bottom: 22px;
  font-size: 30px;
  color: white;
  background-color: #3b5998;
  border-radius: 50%;
}
.section_portfolio {
  padding: 51px 0 90px;
  background-color: #f4f8f9;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section_portfolio {
    padding: 75px 0 75px;
  }
}
@media (min-width: 1200px) {
  .section_portfolio {
    padding: 68px 0 120px;
  }
}
.portfolio-works {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-works {
    margin-top: 36px;
    margin-bottom: 49px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .portfolio-works {
    margin-top: 50px;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .portfolio-works__item {
    margin-right: 49px;
    font-weight: 700;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: #4b6154;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__item {
    font-weight: 800;
    font-size: 28px;
    margin-right: 50px;
  }
}
.portfolio-works__item:hover,
.portfolio-works__item:active {
  color: #94d6ba;
  font-weight: 800;
}
.portfolio-works__item:focus {
  color: #9ed0a1;
  font-weight: 800;
}
.portfolio_card {
  max-width: 290px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .portfolio_card {
    width: 50%;
    max-width: 338px;
  }
}
@media (min-width: 1200px) {
  .portfolio_card {
    margin-top: 50px;
    width: 50%;
    max-width: 556px;
  }
}
.portfolio_card p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Mplus 1p";
  margin-top: 5px;
}
@media (min-width: 768px) {
  .portfolio_card p {
    font-size: 18px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio_card p {
    font-size: 22px;
  }
}
.portfolio_small-cards {
  max-width: 290px;
  margin-top: 46px;
}
@media (min-width: 768px) {
  .portfolio_small-cards {
    max-width: 338px;
    margin-top: 25px;
  }
  .portfolio_small-cards:nth-child(3) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .portfolio_small-cards {
    max-width: 360px;
    margin-top: 61px;
    margin-right: 30px;
  }
  .portfolio_small-cards:nth-child(3) {
    display: unset;
  }
}
.portfolio_small-cards p {
  font-size: 16px;
  margin-top: 4px;
  font-family: "Mplus 1p";
  font-weight: 300;
}
@media (min-width: 768px) {
  .portfolio_small-cards p {
    font-size: 20px;
    margin-top: 6px;
  }
}
.portfolio_small-cards:last-child {
  margin-right: 0;
}
.portfolio_card-description {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .portfolio_card-description {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio_card-description {
    font-size: 32px;
  }
}
.portfolio_card-description:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #94d6ba;
  text-shadow: 11px 11px 12px rgba(83, 88, 85, 0.525), 0 0 1px #2db136;
}
.portfolio_mini-card-description {
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .portfolio_mini-card-description {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio_mini-card-description {
    font-size: 26px;
  }
}
.portfolio_big-card {
  overflow: hidden;
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .portfolio_big-card {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .portfolio_big-card {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}
.portfolio_big-card::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0;
  bottom: -1px;
  left: 0;
  background-color: rgba(148, 214, 186, 0.753);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.portfolio_small-card {
  overflow: hidden;
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .portfolio_small-card {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .portfolio_small-card {
    margin-bottom: 22px;
  }
}
.portfolio_small-card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(251, 220, 77, 0.851);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 14px 30px 14px;
  border-radius: 52px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
  font-size: 22px;
  color: #4b6154;
  font-weight: 800;
  -webkit-transform: translate(-250%);
          transform: translate(-250%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card-button:hover {
  background-color: #4b6154;
  color: white;
  border-color: #4b6154;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card-button:active {
  background-color: #9ed0a1;
  color: white;
  border-color: #9ed0a1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.small-card__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 14px 25px 14px;
  border-radius: 52px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #ffffff;
  font-size: 20px;
  color: #ea736d;
  font-weight: 800;
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}
.small-card__button:hover {
  background-color: #ea736d;
  color: white;
  border-color: #ea736d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.small-card__button:active {
  background-color: #d4423b;
  color: white;
  border-color: #d4423b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio_big-card:hover::before {
  display: block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio_small-card:hover::before {
  display: block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio_big-card:hover .card-button {
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio_small-card:hover .small-card__button {
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 29px;
  width: 100%;
  max-width: 320px;
  padding-top: 25px;
  padding-bottom: 176px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-nav {
    position: relative;
    max-width: unset;
    display: block;
    padding-top: 0px;
    padding-left: 0px;
    width: auto;
    margin-bottom: 0px;
    padding-bottom: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.header-nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 10;
}
.header-nav a {
  position: relative;
  font-size: 20px;
  z-index: 1;
  margin-bottom: 22px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .header-nav a {
    margin-right: 75px;
    margin-bottom: 0px;
    margin-top: 0;
    border-bottom: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.header-nav a:nth-child(2) {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav a:nth-child(2) {
    display: unset;
  }
}
@media (min-width: 1200px) {
  .header-nav a:nth-child(3) {
    display: none;
  }
}
.header-nav a:nth-child(5) {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .header-nav a:nth-child(5) {
    margin-bottom: 0;
  }
}
.header-nav a:last-child {
  margin-right: 0px;
}
@media (min-width: 1200px) {
  .header-nav a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    left: -5px;
    width: 0px;
    height: 5.5px;
    background-color: rgba(148, 214, 186, 0.6);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
  }
}
.header-nav a:hover:after {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 110%;
}
.header-nav a:active,
.header-nav a:focus {
  color: #64ac8f;
  -webkit-box-shadow: inset 0 -1px #ffffff, inset 0 -2px #64ac8f;
          box-shadow: inset 0 -1px #ffffff, inset 0 -2px #64ac8f;
}
@media (min-width: 1200px) {
  .header-nav a:active,
  .header-nav a:focus {
    color: black;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .header-nav a:focus {
    border: dotted #64ac8f;
    padding: 0px 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.logo-nav {
  position: relative;
  display: block;
  font-size: 42px;
  font-weight: 900;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 23px;
}
@media (min-width: 1200px) {
  .logo-nav {
    display: none;
  }
}
.logo-nav::after {
  position: absolute;
  content: "";
  bottom: 11px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #94d6ba;
  z-index: -1;
}
.toggle-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  padding-right: 19px;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 768px) {
  .toggle-menu {
    padding-top: 14px;
    padding-right: 33px;
    margin-top: -12px;
  }
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu.active {
  z-index: 10;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}
.toggle-menu.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0px;
}
.toggle-menu span {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background-color: black;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 40px;
  height: 5px;
  background-color: black;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.social-icons-nav {
  margin-bottom: 10px;
}
.social-icons-nav li {
  margin-right: 17px;
}
.social-icons-nav a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}
.social-icons-nav a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}
.social-icons-nav a {
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (min-width: 1200px) {
  .social-icons-nav {
    display: none;
  }
}
.header-email-nav a {
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #039be5;
  border-bottom: 1px solid #039be5;
  font-weight: 400;
}
.header-email-nav a:active,
.header-email-nav a:focus {
  color: #8cd2b5;
  border-bottom: 1px solid #8cd2b5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (min-width: 1200px) {
  .header-email-nav {
    display: none;
  }
}
#page-nav {
  position: fixed;
  right: 20px;
  top: 60%;
  z-index: 5;
}
@media (min-width: 768px) {
  #page-nav {
    right: 20px;
  }
}
@media (min-width: 1200px) {
  #page-nav {
    right: 90px;
    top: 62%;
  }
}
#page-nav li {
  width: 20px;
  height: 20px;
  background-color: rgba(148, 214, 186, 0.726);
  border-radius: 50%;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
  padding: 10px;
}
#page-nav li.page-nav__active::before {
  color: #94d6ba;
  font-family: 'FontAwesome';
  content: '\f3a5';
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#page-nav li.page-nav__active {
  background-color: transparent;
  border-radius: 50%;
}
@media (min-width: 1200px) {
  #back-top a {
    position: fixed;
    bottom: 16%;
    left: 90px;
    font-size: 60px;
    color: rgba(100, 172, 143, 0.55);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
#back-top a:hover {
  color: #5a9c82;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section_how-i-work {
  padding: 53px 0px 60px;
  max-width: 1600px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .section_how-i-work {
    padding: 73px 0px 85px;
  }
}
@media (min-width: 1200px) {
  .section_how-i-work {
    padding: 133px 0px 145px;
    background-image: url("../img/bg/line_how-i-work.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
}
.works-algoritm {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .works-algoritm {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .works-algoritm {
    max-width: 1005px;
  }
}
.works-algoritm h2 {
  text-align: center;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .works-algoritm h2 {
    padding-bottom: 149px;
  }
}
@media (min-width: 1200px) {
  .works-algoritm h2 {
    padding-bottom: 145px;
  }
}
.works-algoritm .section-title {
  font-size: 38px;
}
@media (min-width: 768px) {
  .works-algoritm .section-title {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .works-algoritm .section-title {
    font-size: 64px;
  }
}
.works-algoritm__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .works-algoritm__item {
    width: 55.3%;
  }
  .works-algoritm__item:nth-child(3) {
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  .works-algoritm__item:nth-child(4) {
    padding-bottom: 0px;
    margin-bottom: 7px;
  }
  .works-algoritm__item:nth-child(5) {
    padding-bottom: 0px;
    margin-bottom: -6px;
  }
}
@media (min-width: 1200px) {
  .works-algoritm__item {
    width: 53.7%;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  .works-algoritm__item:nth-child(2) {
    padding-bottom: 25px;
    margin-bottom: 0px;
  }
  .works-algoritm__item:nth-child(3) {
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  .works-algoritm__item:nth-child(4) {
    padding-bottom: 0px;
  }
  .works-algoritm__item:nth-child(5) {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .works-algoritm__item:nth-child(2)::before {
    position: absolute;
    content: "";
    right: 35px;
    top: -77px;
    bottom: 0px;
    width: 4px;
    height: 57px;
    border-radius: 2px;
    background-color: #e1eef4;
  }
}
.works-algoritm__item::after {
  position: absolute;
  content: "";
  left: 33px;
  top: 94px;
  bottom: 0px;
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
}
.works-algoritm__item:last-child {
  margin-bottom: 0px;
}
.works-algoritm__item:last-child::after {
  background-color: transparent;
}
@media (min-width: 768px) {
  .works-algoritm__item:last-child {
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .works-algoritm__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
  .works-algoritm__item:nth-child(even) .works-algoritm__item-text {
    padding-right: 30px;
    padding-top: 24px;
  }
  .works-algoritm__item:nth-child(even)::after {
    position: absolute;
    content: "";
    right: 35px;
    left: unset;
    top: 94px;
    bottom: 10px;
    width: 4px;
    border-radius: 2px;
    background-color: #e1eef4;
  }
  .works-algoritm__item:nth-child(even):last-child:after {
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .works-algoritm__item:nth-child(even) .works-algoritm__item-text {
    padding-right: 45px;
    padding-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .works-algoritm__item:nth-child(odd) {
    margin-left: auto;
  }
  .works-algoritm__item:nth-child(odd) .works-algoritm__item-text {
    padding-left: 30px;
    padding-top: 23px;
  }
  .works-algoritm__item:nth-child(odd)::after {
    position: absolute;
    content: "";
    right: unset;
    left: 35px;
    top: 94px;
    bottom: 16px;
    width: 4px;
    border-radius: 2px;
    background-color: #e1eef4;
  }
}
@media (min-width: 1200px) {
  .works-algoritm__item:nth-child(odd) .works-algoritm__item-text {
    padding-left: 45px;
    padding-bottom: 38px;
  }
  .works-algoritm__item:nth-child(odd) .works-algoritm__item-text:nth-child(5) {
    padding-bottom: 0px;
    margin-bottom: -10px;
  }
}
.works-algoritm__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /*св-во не дает ужиматься блоку*/
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.works-algoritm__item-icon:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.6);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.6);
}
.works-algoritm__item-text {
  padding-left: 25px;
}
@media (min-width: 768px) {
  .works-algoritm__item-text {
    padding-left: 0;
  }
}
.works-algoritm__item-text h4 {
  margin-bottom: 10px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .works-algoritm__item-text h4 {
    margin-bottom: 8px;
  }
}
.works-algoritm__item-text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .works-algoritm__item-text p {
    font-size: 16px;
    line-height: 1.35;
    margin-bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .works-algoritm__item-text p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
}
.works-algoritm__item-text .item-text {
  font-weight: 700;
}
@media (min-width: 768px) {
  .works-algoritm__item-text .item-text {
    font-size: 18px;
  }
}
.contacts {
  position: relative;
  padding: 10px 0 60px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .contacts {
    padding: 38px 0 69px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding: 80px 0 150px;
    background-image: url("../img/bg/contact-line.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
}
.my-contacts {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .my-contacts {
    max-width: unset;
    width: 708px;
  }
}
@media (min-width: 1024px) {
  .my-contacts {
    position: relative;
    max-width: unset;
    width: unset;
  }
}
@media (min-width: 1200px) {
  .my-contacts {
    margin-left: 0;
    margin-right: 0;
  }
}
.my-contacts h2 {
  text-align: center;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .my-contacts h2 {
    margin-bottom: 61px;
    padding-left: 31px;
  }
}
@media (min-width: 1200px) {
  .my-contacts h2 {
    margin-bottom: 56px;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .my-contacts::before {
    position: absolute;
    content: "";
    top: 175px;
    left: -328px;
    width: 280px;
    height: 243px;
    background-image: url("../img/bg/BG-contacts.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .my-contacts::after {
    position: absolute;
    content: "";
    top: 148px;
    left: -351px;
    width: 448px;
    height: 280px;
    background-image: url("../img/bg/Dot_Feature-contacts.png");
  }
}
.contacts-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .contacts-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contacts__left {
  max-width: 502px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .contacts__left {
    width: 45%;
    margin-bottom: 0;
    margin-top: -8px;
  }
}
@media (min-width: 1200px) {
  .contacts__left {
    width: 50%;
    max-width: 502px;
    padding-top: 20px;
    margin-top: 0;
  }
}
.contacts__left-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .contacts__left-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__left-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 41px;
  }
}
@media (min-width: 768px) {
  .contacts__left-details {
    min-width: 340px;
  }
}
@media (min-width: 1200px) {
  .contacts__left-details {
    max-width: 468px;
  }
}
.left-details {
  margin-bottom: 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .left-details {
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .left-details {
    margin-bottom: 22px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.left-details a {
  color: #039be5;
}
.left-details a:hover {
  border-bottom: 1px solid #039be5;
}
.left-details a:active,
.left-details a:focus {
  color: #8cd2b5;
  border-bottom: 1px solid #8cd2b5;
}
.details-name {
  font-family: "Mplus 1p";
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .details-name {
    width: 197px;
    font-size: 20px;
  }
}
.details-value {
  color: #96969d;
  font-family: "Mplus 1p";
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .details-value {
    font-size: 20px;
  }
}
.contacts__right {
  max-width: 395px;
}
@media (min-width: 768px) {
  .contacts__right {
    width: 48%;
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .contacts__right {
    width: 45%;
  }
}
.contacts-card {
  padding: 54px 15px 42px;
  background-color: white;
  -webkit-box-shadow: 0 28px 40px #c2dbeb;
          box-shadow: 0 28px 40px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts-card {
    padding: 54px 15px 40px 22px;
    background-color: white;
    -webkit-box-shadow: 0px 28px 80px 0px #c2dbeb;
            box-shadow: 0px 28px 80px 0px #c2dbeb;
  }
}
@media (min-width: 1200px) {
  .contacts-card {
    padding: 79px 60px 39px 60px;
    background-color: white;
    -webkit-box-shadow: 0 28px 100px #c2dbeb;
            box-shadow: 0 28px 100px #c2dbeb;
  }
}
.contacts-card__item {
  position: relative;
}
.contacts-card__item:nth-child(4) {
  margin-bottom: 42px;
}
@media (min-width: 1200px) {
  .contacts-card__item:nth-child(4) {
    margin-bottom: 61px;
  }
}
.contacts-card__item:nth-child(5) {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .contacts-card__item:nth-child(5) {
    margin-bottom: 61px;
  }
}
.contacts-card__item:nth-child(6) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .contacts-card__item:nth-child(6) {
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts-card__item:nth-child(6) {
    margin-bottom: 34px;
  }
}
.contacts-card__item:last-child {
  margin-bottom: 0;
}
.contacts-card__item textarea,
.contacts-card__item input {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 44px;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  resize: none;
}
.contacts-card__item textarea:active,
.contacts-card__item input:active,
.contacts-card__item textarea:focus,
.contacts-card__item input:focus {
  border-color: #ea736d;
}
.contacts-card__item textarea {
  height: 122px;
}
@media (min-width: 1200px) {
  .contacts-card__item textarea {
    height: 112px;
  }
}
.contacts__yellow-button {
  padding: 11px 76px 13px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .contacts__yellow-button {
    padding: 11px 90px 13px;
    font-size: 20px;
    margin-left: 4px;
  }
}
@media (min-width: 1200px) {
  .contacts__yellow-button {
    margin-left: 0;
    font-size: 22px;
    padding: 15px 42px 17px;
  }
}
.fake-placeholder {
  position: absolute;
  bottom: 26px;
  left: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  pointer-events: none;
  /*Чтобы какой-то элемент сделать невиддимым при клике*/
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .fake-placeholder {
    bottom: 26px;
  }
}
.fake-placeholder p {
  margin-bottom: 70px;
}
.error {
  position: relative;
  color: red;
  font-weight: 700;
  padding-left: 15px;
}
.error::after {
  position: absolute;
  content: "\f0a6";
  font-family: "fontAwesome";
  font-size: 15px;
  top: 3px;
  left: 0;
}
.contacts-active {
  top: -20px;
  font-size: 16px;
  color: #ed9626;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer {
  padding: 34px 5px 40px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4b6154;
  color: white;
}
@media (min-width: 1200px) {
  footer {
    padding: 23px 0 40px;
  }
}
.footer__name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}
.footer__text {
  line-height: 1.625;
  font-size: 16px;
  font-weight: 300;
  color: #b0b0b0;
}
.footer__link {
  color: #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.footer__link:hover,
.footer__link:active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}
@media (min-width: 768px) {
  .jm-logo {
    padding: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (min-width: 768px) {
  .jm-logo a {
    -webkit-transition: background 0.5s, -webkit-transform ease-out 0.4s;
    transition: background 0.5s, -webkit-transform ease-out 0.4s;
    transition: transform ease-out 0.4s, background 0.5s;
    transition: transform ease-out 0.4s, background 0.5s, -webkit-transform ease-out 0.4s;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 15px;
    border-radius: 50%;
  }
}
@media (min-width: 768px) {
  .jm-logo a:hover {
    background: rgba(90, 157, 52, 0.2);
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
}
@media (min-width: 768px) {
  .jm-logo a:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    -webkit-box-shadow: 0 0 0 5px rgba(91, 157, 52, 0.623);
            box-shadow: 0 0 0 5px rgba(91, 157, 52, 0.623);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    border-radius: 50%;
  }
}
@media (min-width: 768px) {
  .jm-logo a:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 80ms;
            animation: sonarEffect 1.3s ease-out 80ms;
    background: none;
    background: rgba(72, 102, 55, 0.3);
  }
}
@-webkit-keyframes sonarEffect {
  0% {
    filter: alpha(opacity=30);
    opacity: 0.3;
  }
  40% {
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.1), 0 0 0 10px rgba(90, 157, 52, 0.3);
            box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.1), 0 0 0 10px rgba(90, 157, 52, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.1), 0 0 0 10px rgba(90, 157, 52, 0.5);
            box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.1), 0 0 0 10px rgba(90, 157, 52, 0.5);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    filter: alpha(opacity=30);
    opacity: 0.3;
  }
  40% {
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.3), 0 0 0 10px rgba(90, 157, 52, 0.3);
            box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.3), 0 0 0 10px rgba(90, 157, 52, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.3), 0 0 0 10px rgba(90, 157, 52, 0.5);
            box-shadow: 0 0 0 2px rgba(90, 157, 52, 0.3), 0 0 0 10px rgba(90, 157, 52, 0.5);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */