.social-icons {
    margin-top: 5px;
    margin-bottom: -9px;
    font-size: 50px;
    align-items: center;

    // Для Планшета
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    
    // Для Десктопа
    @media (min-width: 1200px) {
        margin-top: 20px;
    }

    li {
        margin-right: 27px;
        margin-left: 2px;
        transition: 0.5s;

        // Для Десктопа
        @media (min-width: 1200px) {
            margin-right: 29px;
        }
    }

    li:hover {transform: scale(1.1);}

    li:last-child {margin-right: 0px;}

    .fa-github {font-size: 52px;}
    
    .fa-telegram {
        color: #039be5;
        font-size: 50px;
    }

    .fa-linkedin {
        padding: 10px 11px;
        margin-bottom: 22px;
        font-size: 30px;
        color: white;
        background-color: #4d76a1;
        border-radius: 50%;
    }
    
    .fa-facebook {
        padding: 12px 16px 10px 17px;
        margin-bottom: 22px;
        font-size: 28px;
        color: white;
        background-color: #3b5998;
        border-radius: 50%;
    }
}
